@model UsersListViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "All Users";
}

<h1 class="text-center">All Users</h1>

<a asp-action="Register" asp-controller="Account"
    class="btn btn-info" style="width:auto">
    Add New User
</a>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-controller="Admin" asp-action="EditUser" asp-route-UserId="@user.Id" class="btn btn-info">Edit</a>
                </td>
                <td>
                    <form method="post" asp-action="DeleteUser" asp-route-UserId="@user.Id" onsubmit="return confirmDelete()">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PaginationInfo.TotalNumPages > 1)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="pagination justify-content-center">
                    @if (Model.PaginationInfo.CurrentPage > 0)
                    {
                        <a asp-action="ListUsers" asp-route-pageNum="@(Model.PaginationInfo.CurrentPage - 1)" class="btn btn-primary">Previous</a>
                    }
                    @if (Model.PaginationInfo.CurrentPage < Model.PaginationInfo.TotalNumPages)
                    {
                        <a asp-action="ListUsers" asp-route-pageNum="@(Model.PaginationInfo.CurrentPage + 1)" class="btn btn-primary">Next</a>
                    }
                </div>
            </div>
        </div>
    </div>
}

<script>
    function confirmDelete() {
        // Display an alert box asking the user if they want to delete
        var confirmation = window.confirm("Are you sure you want to delete?");

        // Return the result of the confirmation (true if user clicks OK, false if Cancel)
        return confirmation;
    }
</script>