@model OrdersListViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "All Orders";
}
<h1 class="text-center">All Orders</h1>
<h4 class="text-center">Click </h4>
<table class="table">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Day of Week</th>
            <th>Time</th>
            <th>Entry Mode</th>
            <th>Amount</th>
            <th>Type of Transaction</th>
            <th>Country of Transaction</th>
            <th>Shipping Address</th>
            <th>Bank</th>
            <th>Type of Card</th>
            <th>Fraud</th>
            <th>Predict Fraud</th>
            <th>Complete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.Orders.Distinct())
        {
            <tr>
                <td>@t.transaction_ID</td>
                <td>@t.date</td>
                <td>@t.day_of_week</td>
                <td>@t.time</td>
                <td>@t.entry_mode</td>
                <td>@t.amount</td>
                <td>@t.type_of_transaction</td>
                <td>@t.country_of_transaction</td>
                <td>@t.shipping_address</td>
                <td>@t.bank</td>
                <td>@t.type_of_card</td>
                <td>@t.fraud</td>
                <td>@t.predict_fraud</td>
                <td>@t.complete</td>
            </tr>
        }
    </tbody>
</table>

@* <div page-model="@Model.PaginationInfo" page-action="ListOrders" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-secondary" class="btn-group pull-right m-1">
</div> *@

@if (Model.PaginationInfo.TotalNumPages > 1)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="pagination justify-content-center">
                    @if (Model.PaginationInfo.CurrentPage > 0)
                    {
                        <a asp-action="ListOrders" asp-route-pageNum="@(Model.PaginationInfo.CurrentPage - 1)" class="btn btn-primary">Previous</a>
                    }
                    @if (Model.PaginationInfo.CurrentPage < Model.PaginationInfo.TotalNumPages)
                    {
                        <a asp-action="ListOrders" asp-route-pageNum="@(Model.PaginationInfo.CurrentPage + 1)" class="btn btn-primary">Next</a>
                    }
                </div>
            </div>
        </div>
    </div>
}