@model IEnumerable<AppUser>

@{
    ViewBag.Title = "All Users";
}

<h1>All Users</h1>

@if (Model.Any())
{
    <a asp-action="Register" asp-controller="Account"
       class="btn btn-primary mb-3" style="width:auto">
        Add New User
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>User Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <a asp-controller="Admin" asp-action="EditUser" asp-route-UserId="@user.Id" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <form method="post" asp-action="DeleteUser" asp-route-UserId="@user.Id" onsubmit="return confirmDelete()">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="card-header">
            No Users Added Yet
        </div>
    </div>
}

<script>
    function confirmDelete() {
        // Display an alert box asking the user if they want to delete
        var confirmation = window.confirm("Are you sure you want to delete?");

        // Return the result of the confirmation (true if user clicks OK, false if Cancel)
        return confirmation;
    }
</script>