@using INTEX2_06.Infrastructure
@{
}
@model Lego

<div class="card m-1 p-1">
    <a asp-action="SingleProduct" asp-route-product_ID="@Model.product_ID" class="text-decoration-none">
        <h4>@Model.name</h4>
    </a>
    <img src="@Model.img_link" alt="Product Image" class="float-end img-responsive">
    <ul>
        <li>Rating: @Model.avg_rating</li>
        <li>Year: @Model.year</li>
        <li>Brick Count: @Model.num_parts</li>
        <li>Category: @Model.category</li>
    </ul>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <form id="@Model.product_ID" method="post" asp-controller="Admin" asp-action="DeleteProduct">
            <input type="hidden" asp-for="product_ID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn-danger btn-sm float-end">Delete</button>
        </form>
    }
    else if (User.Identity.IsAuthenticated)
    {
        <form id="@Model.product_ID" method="post" asp-page="/Cart">
            <input type="hidden" asp-for="product_ID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn-success btn-sm float-end">Add to Cart</button>
        </form>
    } 
</div>
