@using INTEX2_06.Infrastructure
@{
}
@model Lego
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true">

<div class="card m-1 p-1 custom-center rounded-div">
    <a asp-action="SingleProduct" asp-route-product_ID="@Model.product_ID" class="text-decoration-none">
        <img src="@Model.img_link" alt="Product Image" class="card-img">
        <div class="card-body">


            <h4 class="name-tag text-white" style="font-size: 1.3rem;">@Model.name</h4>

            <div class="align-content-md-end">
                <!-- Star Rating -->
                <div class="star-rating">
                    @for (int i = 1; i < 3; i++)
                    {
                        <span class="star @(Model.avg_rating >= i ? "full-star" : "empty-star")">&#9733;</span>
                    }
                </div>
            </div>


            <!-- Admin and Cart Forms Here -->
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <form id="@Model.product_ID" method="post" asp-controller="Admin" asp-action="DeleteProduct">
                    <input type="hidden" asp-for="product_ID" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn-danger btn-sm float-end">Delete</button>
                </form>
@*                 <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteProductConfirm" asp-route-ProductId="@Model.product_ID">Delete</a> *@
                <form id="@Model.product_ID" method="get" asp-controller="Admin" asp-action="EditProduct">
                    <input type="hidden" asp-for="product_ID" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn-success btn-sm float-end">Edit</button>
                </form>
            }
            else if (User.Identity.IsAuthenticated)
            {
                <form id="@Model.product_ID" method="post" asp-page="/Cart">
                    <input type="hidden" asp-for="@Model.product_ID" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn-success btn-sm float-end">Add to Cart</button>
                </form>
            }
        </div>
    </a>
</div>
