@using INTEX2_06.Infrastructure
@{
}
@model Lego

<div class="card m-1 p-1">
    <h4>
        @Model.name
        <span class="badge rounded-pill bg-primary text-white float-end"><small>@Model.img_link</small></span>
    </h4>
    <ul>
        <li>Price: @Model.price</li>
        <li>Pages: @Model.PageCount</li>
        <li>Publisher: @Model.primary_color</li>
        <li>ISBN: @Model.secondary_color</li>
        <li>Category: @Model.category</li>
        <li>Classification: @Model.description</li>
    </ul>
    <form id="@Model.product_ID" method="post" asp-page="/Cart">
        <input type="hidden" asp-for="product_ID"/>
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button type="submit" class="btn-success btn-sm float-end">Buy</button>
    </form>
    
</div>
