@{
    ViewData["Title"] = "Home Page";
}

@model LegosListViewModel

@if (!User.Identity.IsAuthenticated)
{
    <h7>Please <a asp-controller="Account" asp-action="Login">login</a> to add items to your cart</h7>
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <form asp-controller="Admin" asp-action="CreateProduct" method="get">
        <button type="submit" class="btn-success btn-sm float-end">Create New Product</button>
    </form>
    <br /><br />
}


<div class="container-fluid">
    <div class="row m-1 p-1">
        <!-- Left Sidebar for Categories -->
        <div class="col-2">
            <div class="sticky-top">
@*                 <select class="form-control">
                    <option asp-controller="Home" asp-action="Legostore" asp-route-pageSize="5" value="5">5</option>
                    <option asp-controller="Home" asp-action="Legostore" asp-route-pageSize="10" value="10">10</option>
                    <option asp-controller="Home" asp-action="Legostore" asp-route-pageSize="20" value="20">20</option>
                </select> *@
                <vc:lego-categories />
            </div>
        </div>

        <!-- Right Sidebar for Lego Listings -->
        <div class="col-3">
            <div role="main" class="pb-3">
                @foreach (Lego l in Model.Legos)
                {
                    <partial name="LegoSummary" model="l" />
                }
                <div page-model="@Model.PaginationInfo" page-action="Legostore" page-classes-enabled="true" page-class="btn"
                     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
                     page-url-legoCategory="@Model.CurrentLegoCategory" class="btn-group pull-right m-1"></div>
            </div>
        </div>
        <div class="col-3">
            <div role="main" class="pb-3">
                @foreach (Lego l in Model.Legos)
                {
                    <partial name="LegoSummary" model="l" />
                }
                <div page-model="@Model.PaginationInfo" page-action="Legostore" page-classes-enabled="true" page-class="btn"
                     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
                     page-url-legoCategory="@Model.CurrentLegoCategory" page-url-pageSize="@Model.CurrentPageSize" class="btn-group pull-right m-1"></div>

                 <div>Show: 
                    <a asp-controller="Home" asp-action="Legostore" asp-route-pageSize="5">5</a>
                    <a asp-controller="Home" asp-action="Legostore" asp-route-pageSize="10">10</a>
                    <a asp-controller="Home" asp-action="Legostore" asp-route-pageSize="20">20</a>
                 </div>
            </div>
        </div>

        <!-- Right Column for YouTube Video -->
        <div class="col-md-4">
            <div class="sticky-top">
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/6BV1EPjzKLs?si=9BUlfuc5qFz57RGx&amp;controls=0&amp;start=173" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>