@using INTEX2_06.Infrastructure
@model ProductViewModel
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true">

@{
    Layout = "_Layout";
}

<div class="product-main-container">
    <div class="product-image-container">
        <img src="@Model.MainProduct.img_link" alt="Product Image" class="main-product-image">
    </div>
    <div class="product-details-container">
        <h1>@Model.MainProduct.name</h1>

        <!-- Admin and Cart Forms Here -->
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <form id="@Model.MainProduct.product_ID" method="post" asp-controller="Admin" asp-action="DeleteProduct">
                <input type="hidden" asp-for="MainProduct.product_ID" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn-danger btn-sm float-end">Delete</button>
            </form>
            <form id="@Model.MainProduct.product_ID" method="get" asp-controller="Admin" asp-action="EditProduct">
                <input type="hidden" asp-for="MainProduct.product_ID" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn-success btn-sm float-end">Edit</button>
            </form>
        }
@*         else if (User.Identity.IsAuthenticated)
        {
            <form id="@Model.MainProduct.product_ID" method="post" asp-page="/Cart">
                <input type="hidden" asp-for="@Model.MainProduct.product_ID" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn-success btn-sm float-end">Add to Cart</button>
            </form>
        } *@


        <p class="product-price">Price: $@Model.MainProduct.price</p>
        <p>@Model.MainProduct.num_parts Bricks</p>
        <p>Category: @Model.MainProduct.category</p>
        <p>Description: @Model.MainProduct.description</p>
    </div>
</div>

<h3 style="color: var(--text-dark)">Aurora's Picks For You:</h3>
<div class="single-product-grid">
    @foreach (var item in Model.Recommendations.Take(3))
    {
        <div class="home-card m-1 p-1">
            <a asp-action="SingleProduct" asp-route-product_ID="@item.product_ID" class="text-decoration-none">
                <h3 class="name-tag text-dark" style="font-size: 2rem;">@item.name</h3>
                <img src="@item.img_link" alt="Product Image" class="card-img">
            </a>
@*             @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <form method="post" asp-controller="Admin" asp-action="DeleteProduct">
                    <!-- Admin controls here -->
                </form>
            }
            else if (User.Identity.IsAuthenticated)
            {
                <form method="post" asp-page="/Cart">
                    <!-- Cart controls here -->
                </form>
            } *@
        </div>
    }
</div>

<h3 style="color: var(--text-dark)">Others also purchased:</h3>
    <div class="single-product-grid">
        @foreach (var item in Model.Recommendations.Skip(3).Take(3))
        {
            <div class="home-card m-1 p-1">
                <a asp-action="SingleProduct" asp-route-product_ID="@item.product_ID" class="text-decoration-none">
                <h3 class="name-tag text-dark" style="font-size: 2rem;">@item.name</h3>
                    <img src="@item.img_link" alt="Product Image" class="card-img">
                </a>
@*                 @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <form method="post" asp-controller="Admin" asp-action="DeleteProduct">
                        <!-- Admin controls here -->
                    </form>
                }
                else if (User.Identity.IsAuthenticated)
                {
                    <form method="post" asp-page="/Cart">
                        <!-- Cart controls here -->
                    </form>
                } *@
            </div>
        }
</div>
